{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm py-3" style="min-height: 550px">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Save">
                </form>
                <hr>
                <a class="btn btn-primary" href="{% url 'book-list' %}" role="button">Back</a>
            </div>
        </div>
    </div>
{% endblock %}