{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm py-3" style="min-height: 550px">
                <h1>Books</h1>
                {% if object_list|length > 0 %}
                    {% for book in object_list %}
                        <a href="books/{{ book.id }}"><h3>{{ book.title }}</h3></a>
                        <h6>by {{ book.author }}</h6>
                        {% if user.is_authenticated %}
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Options
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/books/edit/{{book.id}}">Edit</a>
                                    <a class="dropdown-item" href="/books/delete/{{book.id}}">Delete</a>
                                </div>
                            </div>
                            <hr>
                        {% endif %}
                        {% endfor %}
                {% else %}
                    <h6>There are no books in the store. Please <b>add</b> one. </h6>
                {% endif %}
                {% if user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'book-create' %}" role="button">Add</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}