{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm py-3" style="min-height: 550px">
                <h3><b>{{ object.title }}</b></h3>
                <h6><b>Author</b>: {{ object.author }}</h6>
                <h6><b>ISBN</b>: {{ object.isbn }}</h6>
                <h6><b>Price</b>: {{ object.price }}</h6>
                <h6><b>Publish Date</b>: {{ object.publish_date }}</h6>
                <hr>
                <a class="btn btn-primary" href="{% url 'book-list' %}" role="button">Back</a>
            </div>
        </div>
    </div>
{% endblock %}