{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm py-3" style="min-height: 550px">
                <form method="post">{% csrf_token %}
                    <p>Are you sure you want to delete <b>"{{ object.title }}"</b> by {{ object.author }}?</p>
                    <input type="submit" value="Confirm">
                </form>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}