{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm py-3" style="min-height: 550px">
                <h1>Last 10 Requests</h1>
                {% for request in request_list %}
                    <h6><b>Time</b>: {{request.time}}</h6>
                    <h6><b>Host</b>: {{request.host}}</h6>
                    <h6><b>Method</b>: {{request.method}}</h6>
                    <h6><b>URI</b>: {{request.uri}}</h6>
                    <h6><b>User-Agent</b>: {{request.user_agent}}</h6>
                    <h6><b>User-Accept</b>: {{request.accept}}</h6>
                    <hr>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}