<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Book Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'book-list' %}">Book Store</a>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarCollapseLinks">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="requests/" class="nav-link">Http Requests</a>
                    </li>
                    <li class="nav-item">
                        <a href="admin/" class="nav-link">Admin Panel</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a href = 'accounts/logout/' class="btn btn-outline-secondary">Log Out (<b>{{ user.username }}</b>)</a></li>
                        {% else %}
                            <a href="accounts/login/" class="btn btn-outline-primary"><b>Log In</b></a></li>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center" style="min-height: 550px">
                <p>CopyRight © {% now "Y" %} Digital All Rights Reserved</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>